html,
body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(
    148deg,
    rgba(39, 37, 41, 1) 5%,
    rgba(107, 75, 139, 1) 52%,
    rgba(128, 0, 255, 1) 86%
  );
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

.app {
  display: grid;
  grid-template-columns: 50fr 50fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "search search"
    "user user"
    "buttons buttons"
    "repos repos";
}

.user-info {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-area: user;
  grid-template-areas: "user-img user-info";
  margin: 0;
}

.title {
  display: flex;
  grid-area: title;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.search {
  display: flex;
  grid-area: search;
  margin-top: 20px;
  justify-content: center;
}

.user-card {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  grid-area: user-img;
}

.card-info {
  display: flex;
  margin: 20px auto;
  align-items: middle;
  grid-area: user-info;
}

.actions {
  display: flex;
  flex-direction: row;
  grid-area: buttons;
  justify-content: center;
  margin-top: 10px;
}

.title img {
  width: 100px;
}

.title h1 {
  font-size: 24px;
  color: #fff;
  text-shadow: 1px 0 rgb(111, 0, 255);
}

.search input {
  height: 30px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-right: 5px;
  font-weight: 400;
}

.search input:focus {
  background: rgb(209, 209, 209);
  border: 1px solid rgb(128, 0, 255);
  color: #000;
}

.search button {
  outline: none;
  border: none;
  height: 40px;
  background: rgb(97, 97, 97);
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.search button:hover {
  background: rgb(85, 85, 85);
}

.search button:active {
  background: rgb(70, 70, 70);
}

.user-card img {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-card h1 {
  font-size: 20px;
}

.repos-info {
  list-style: none;
  margin: auto;
  padding: 0;
}

.actions button {
  margin: 30px 10px auto 10px;
  outline: none;
  border: none;
  height: 40px;
  background: rgb(97, 97, 97);
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.actions button:hover {
  background: rgb(85, 85, 85);
}

.actions button:active {
  background: rgb(70, 70, 70);
}

.starred,
.repos {
  display: flex;
  flex-direction: column;
  grid-area: repos;
  align-items: center;
  height: fit-content;
}

.starred ul,
.repos ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0 40px;
  border-radius: 5px;
}

.starred li,
.repos li {
  line-height: 27px;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  grid-area: user;
  margin: 40px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .title img {
    margin-top: 40px;
    width: 300px;
  }

  .title h1 {
    font-size: 34px;
  }

  .search input {
    height: 30px;
    width: 40vw;
    margin-right: 5px;
  }

  .user-card {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    grid-area: user-img;
    align-items: flex-end;
  }

  .card-info {
    display: flex;
    margin: 40px;
    grid-area: user-info;
    align-items: flex-start;
  }

  .repos-info {
    margin: auto 0;
    padding: 10px;
  }
  .user-card img {
    height: 250px;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .user-card h1 {
    width: 330px;
    text-align: center;
    font-size: 20px;
  }
}
